* {
    font-family: Rubik , sans-serif;
}

.rubik-font {
    font-family: Rubik, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
  margin: 0;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(242, 229, 241, 0.8); 
    gap: 10px;
    padding: 10px;
}
.markdown-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    margin: 20px;
    background-color: rgba(255 255 255 / 80%);
    box-shadow: 0 12px 12px 12px rgba(0 0 0 / 15%);
}

#markdown {
    width: 100%;
    height: 500px;
    border: 1px solid #bcbcbc;
}
#markdownPreview {
    width: 100%;
    height: 500px; 
    border: 1px solid #ccc;
    overflow: auto; 
}

.tab {
    overflow: hidden;
}

.tab button {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background: linear-gradient(135deg, #439093, pink);
    color: #044c4d;
    border: 1px solid #025a5a;
}

.tab button:hover {
    color:white !important;
    background: linear-gradient(135deg, #439093, pink);
    box-shadow: 0 0 5px rgba(9 165 179 / 60%), 0 0 25px rgba(9 165 179 / 60%), 0 0 50px rgba(9 165 179 / 60%), 0 0 200px rgba(9 165 179 / 60%); 
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

#add-label-button {
    background: linear-gradient(135deg, #439093, pink);
    color: #044c4d;
    border: 1px solid #025a5a;
    cursor: pointer;
    border-radius: 8px;
    margin: 5px;
}

#add-label-button:hover {
    color:white !important;
    background: linear-gradient(135deg, #439093, pink);
    box-shadow: 0 0 5px rgba(9 165 179 / 60%), 0 0 25px rgba(9 165 179 / 60%), 0 0 50px rgba(9 165 179 / 60%), 0 0 200px rgba(9 165 179 / 60%); 
}

#saveButton, #deleteButton, #backButton, #back-to-calendar{
    /* margin-left: 20px; */
    padding: 10px 20px;
    background: linear-gradient(135deg, #439093, pink);
    color: #044c4d;
    border: 1px solid #025a5a;
    cursor: pointer;
    border-radius: 5px;
}

button:first-child {
    float: left;
    border-radius: 5px;
}

#saveButton:hover, #deleteButton:hover, #backButton:hover, #back-to-calendar:hover {
    color:white !important;
    background: linear-gradient(135deg, #439093, pink);
    box-shadow: 0 0 5px rgba(9 165 179 / 60%), 0 0 25px rgba(9 165 179 / 60%), 0 0 50px rgba(9 165 179 / 60%), 0 0 200px rgba(9 165 179 / 60%); 
}

#backButton {
    float: right;
}

#dateDisplay{
    text-align: center;
}
.todo {
   text-align: center;
}
#backToCalendar {
    float: right;
    background: linear-gradient(135deg, #439093, pink);
    color: #044c4d;
    border: 1px solid #025a5a;
}

#backToCalendar:hover {
    color:white !important;
    background: linear-gradient(135deg, #439093, pink);
    box-shadow: 0 0 5px rgba(9 165 179 / 60%), 0 0 25px rgba(9 165 179 / 60%), 0 0 50px rgba(9 165 179 / 60%), 0 0 200px rgba(9 165 179 / 60%); 
}

button {
    border-radius: 8px;
    margin: 5px;
}

.january { background-color: #ebc2c6; } 
button.january:hover { background-color: #1c5959;} 
.tab.january  { background-color: #01858a; }
.tab.january  button.active { background: linear-gradient(135deg, #439093, pink); }
.tabcontent.january { border: 5px solid #0d7475; }
h1.january {background-color: white; color: #187474; font-family: 'Times New Roman', Times, serif; }

.february { background-color: #ebc2c6; }
button.february:hover { background-color: #1c5959;}
.tab.february  { background-color: #01858a; }
.tab.february  button.active { background: linear-gradient(135deg, #439093, pink); }
.tabcontent.february { border: 5px solid #0d7475; }
h1.february {background-color: white; color: #187474; font-family: 'Times New Roman', Times, serif; }

.march { background-color: #ebc2c6; }
button.march:hover { background-color: #1c5959;}
.tab.march  { background-color: #01858a; }
.tab.march  button.active { background: linear-gradient(135deg, #439093, pink); }
.tabcontent.march { border: 5px solid #0d7475; }
h1.march {background-color: white; color: #187474; font-family: 'Times New Roman', Times, serif; }

.april { background-color: #ebc2c6; }
button.april:hover { background-color: #1c5959;}
.tab.april  { background-color: #01858a; }
.tab.april  button.active { background: linear-gradient(135deg, #439093, pink); }
.tabcontent.april { border: 5px solid #0d7475; }
h1.april {background-color: white; color: #187474; font-family: 'Times New Roman', Times, serif; }

.may { background-color: #ebc2c6; }
button.may:hover { background-color: #1c5959;}
.tab.may  { background-color: #01858a; }
.tab.may  button.active { background: linear-gradient(135deg, #439093, pink); }
.tabcontent.may { border: 5px solid #0d7475; }
h1.may {background-color: white; color: #187474; font-family: 'Times New Roman', Times, serif; }
 
.june { background-color: #ebc2c6; } 
button.june:hover { background-color: #1c5959;} 
.tab.june  { background-color: #01858a; }
.tab.june  button.active { background: linear-gradient(135deg, #439093, pink); }
.tabcontent.june { border: 5px solid #0d7475; }
h1.june {background-color: white; color: #187474; font-family: 'Times New Roman', Times, serif; }

.july { background-color: #ebc2c6; }
button.july:hover { background-color: #1c5959;}
.tab.july  { background-color: #01858a; }
.tab.july  button.active { background: linear-gradient(135deg, #439093, pink); }
.tabcontent.july { border: 5px solid #0d7475; }
h1.july {background-color: white; color: #187474; font-family: 'Times New Roman', Times, serif; }

.august { background-color: #ebc2c6; }
button.august:hover { background-color: #1c5959;}
.tab.august  { background-color: #01858a; }
.tab.august  button.active { background: linear-gradient(135deg, #439093, pink); }
.tabcontent.august { border: 5px solid #0d7475; }
h1.august {background-color: white; color: #187474; font-family: 'Times New Roman', Times, serif; }

.september { background-color: #ebc2c6; }
button.september:hover { background-color: #1c5959; }
.tab.september  { background-color: #01858a; }
.tab.september  button.active { background: linear-gradient(135deg, #439093, pink); }
.tabcontent.september { border: 5px solid #0d7475; }
h1.september {background-color: white; color: #187474; font-family: 'Times New Roman', Times, serif; }

.october { background-color: #ebc2c6; }
button.october:hover { background-color: #1c5959;}
.tab.october  { background-color: #01858a; }
.tab.october  button.active { background: linear-gradient(135deg, #439093, pink); }
.tabcontent.october { border: 5px solid #0d7475; }
h1.october {background-color: white; color: #187474; font-family: 'Times New Roman', Times, serif; }

.november { background-color: #ebc2c6; }
button.november:hover { background-color: #1c5959;}
.tab.november  { background-color: #01858a; }
.tab.november  button.active { background: linear-gradient(135deg, #439093, pink); }
.tabcontent.november { border: 5px solid #0d7475; }
h1.november {background-color: white; color: #187474; font-family: 'Times New Roman', Times, serif; }

.december { background-color: #ebc2c6; }
button.december:hover { background-color: #1c5959;}
.tab.december  { background-color: #01858a; }
.tab.december  button.active { background: linear-gradient(135deg, #439093, pink); }
.tabcontent.december { border: 5px solid #0d7475; }
h1.december {background-color: white; color: #187474; font-family: 'Times New Roman', Times, serif; }

#markdownPreview { background-color: white; }  

.notes-buttons {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
}

/* MOBILE RESPONSIVENESS BREAKPOINT */
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .todo {
        width: 100%;
    }

    .notes-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    todo-list-element {
        padding: 15px;
    }
}


/* Style for the delete confirmation dialog */
#delete-confirm-dialog {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  /* Style for the confirm button */
  #delete-confirm-btn {
    background: linear-gradient(135deg, #439093, pink);
    color: #044c4d;
    border: 1px solid #025a5a;
    border-radius: 3px;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Hover effect for the confirm button */
  #delete-confirm-btn:hover {
    color:white !important;
    background: linear-gradient(135deg, #439093, pink);
    box-shadow: 0 0 5px rgba(9 165 179 / 60%), 0 0 25px rgba(9 165 179 / 60%), 0 0 50px rgba(9 165 179 / 60%), 0 0 200px rgba(9 165 179 / 60%); 
  }
  
  /* Style for the cancel button */
  #delete-cancel-btn {
    background: linear-gradient(135deg, #439093, pink);
    color: #044c4d;
    border: 1px solid #025a5a;
    border-radius: 3px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Hover effect for the cancel button */
  #delete-cancel-btn:hover {
    color:white !important;
    background: linear-gradient(135deg, #439093, pink);
    box-shadow: 0 0 5px rgba(9 165 179 / 60%), 0 0 25px rgba(9 165 179 / 60%), 0 0 50px rgba(9 165 179 / 60%), 0 0 200px rgba(9 165 179 / 60%); 
  }

  input{
    color: #044c4d;
    border: 2px solid #025a5a;
    box-shadow: 0 0 8px rgba(67 162 170 / 0.6);
  }
  input::placeholder {
    color: #044c4d;
    text-shadow: 1px 1px 1px #f2acda;
  }