* {
    font-family: 'Rubik', sans-serif;
}

.rubik-font {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
    background:no-repeat center center fixed;
    background-size: cover;
    color: #333;
}
.diff-month {
    color: gray;
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    font-family: fantasy;
    font-weight: bold;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8); 
    width: 95%;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.day {
    padding: 15px 10px;
    background-color: #ffffff;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.day:hover {
    background-color: #cf9fc2;
    transform: translateY(-3px);
    cursor: pointer;
    box-shadow: 0 4px 5px rgba(0,0,0,0.1);
}

.day.spring {
    color: #ff69b4;
}

.day.summer {
    color: #008000; 
}

.day.fall {
    color: #ffa500; 
}

.day.winter {
    color: #0000ff; 
}

.month-color {
   
    color: #333;
}

.january { color: #c14300; }  
.february { color: #f29cac; } 
.march { color: #28a745; }   
.april { color: #e83e8c; }   
.may { color: #790258; }     
.june { color: #154a27; }    
.july { color: #17a2b8; }     
.august { color: #d1890c; }   
.september { color: #dc3545; }
.october { color: #d45810; }  
.november { color: #343a40; } 
.december { color: #53697d; } 


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    font-family: fantasy;
    font-weight: 500
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    box-shadow: 0 4px 8px rgba(1, 0, 0, 0.2);
    animation-name: animatetop;
    animation-duration: 0.4s;
}


/* Animation to slide the modal content from the top */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}


.close {
    color:  #4e253c;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color:  hsl(330, 100%, 52%);
    text-decoration: none;
}

.entry-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

#entry-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

#entry-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

#entry-form input[type="text"],
#entry-form input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#entry-form input[type="submit"] {
    background-color:  #c73485;
    color: white;
    cursor: pointer;
}

#entry-form input[type="submit"]:hover {
    background-color: #88cb8a;
}

#close-form {
    padding: 10px 20px;
    background-color: #6c2b56;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

#close-form:hover {
    background-color: #ed9693;
}

.day-names {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    padding: 0px;
    padding-top: 10px;
    width: 95%;
    max-width: 660px;
    margin: auto;
}

.day-name {
    text-align: center;
    font-size:120%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    border: none;
    color: rgb(0, 0, 0);
}

.holiday {
    color: red;
}

/* MY CHANGES */

.calendar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* MOBILE RESPONSIVENESS BREAKPOINT - TABLET */

@media (min-width: 426px) and (max-width: 1024px) {
    .calendar-container {
        overflow: hidden;
    }

    #day-names {
        display: flex;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);

        .day-name {
            width: 95%;
        }
    }

    #day-names > .day-name {
        width: 80%;
    }

    .day {
        width: 70%
    }
}

/* MOBILE RESPONSIVENESS BREAKPOINT - PHONE */
@media (max-width: 426px)  {
    .calendar-container {
        margin: 0 3%;
    }

    .entry-item {
        gap: 0.75rem;
    }

    .calendar-header {
        justify-content: center;
        width: 100vw;
        gap: 7%;
    }

    #calendar {
        grid-template-columns: repeat(7, 12.5%);
        padding-right: 1%;
        gap: 1.5vw;
    }

    #day-names {
        grid-template-columns: repeat(7, 13vw);
        font-size: 70%;
    }
}

#prev-month {
    background-color: #ffffff;
    color: #343434;
    border: 2px solid #ccc;
    border-radius: 7px;
    padding: 5px 10px;
    font-size: 14.5px;
    cursor: pointer;
}
  
#prev-month:hover {
    background-color: #eaeaea; 
    color:rgb(0, 0, 0);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

#next-month {
    background-color: #ffffff;
    color: #343434;
    border: 2px solid #ccc;
    border-radius: 7px;
    padding: 5px 10px;
    font-size: 14.5px;
    cursor: pointer;
}
  
#next-month:hover {
    background-color: #eaeaea; 
    color:rgb(0, 0, 0);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

button.delete-button {
    background-color: #ffffff;
    color: #343434;
    border: 2px solid #ccc;
    border-radius: 7px;
    padding: 5px 10px;
    font-size: 14.5px;
    cursor: pointer;
    margin-left: 10px;
}

button.delete-button:hover {
    background-color: #eaeaea; 
    color:rgb(0, 0, 0);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.arrow {
    border: solid #595959;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}